[Unit]
Description=ZenPi, Peace out folks.

[Service]
User=ad
Group=ad
WorkingDirectory=/home/ad/ZenPi
ExecStart=/home/ad/ZenPi/target/release/zenplayer

[Install]
WantedBy=multi-user.target
